
<div class='some-site'>
        <div class="cont-some-site">
          <div class='wrapper-some-site'>
              <div class='column-some-site'>
                <div class='column-res-site'>
                        <div class='black-some-site'>
                            </div>
                </div>
              </div>
              <div class='column-some-site'>
                <div class='column-res-1-site'>
                  <h3 class="title-some-site">About Some Site</h3>
                 <div class="p-some-site">
               <p>Lorem ipsum dolor sit amet, quod iusto senserit at his, animal phaedrum hendrerit no cum. Duis mucius inciderint qui et, id epicuri corrumpit vim, vis eu erat sadipscing consectetuer. No nec justo nihil phaedrum, duis utinam nam ne. Probo vidisse sea ut, pro tale stet assueverit an, ne oratio albucius adversarium mei. Sale quando mel et, usu ad aeterno percipitur.</p>
                    <p class="p-some-site-1">Nullam vocibus iracundia cum ut, mea sale nullam an. Hinc primis est ei. Ad est decore quaeque propriae. Nam eu graece adipiscing, est eu autem mucius, duo ei eirmod mentitum. Sit soleat debitis delectus ea, mei at commodo prompta erroribus. Eu everti mollis vis. Suas putent officiis duo ei, pro movet aliquip ex..</p>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>