 <div class="clients">
    <div class="container">
        <h1 class="clients-title">What clients say</h1>
        <p class="clients-p">Eum cu tantas legere complectitur, hinc utamur ea eam. Eum patrioque mnesarchum eu, diam erant convenire et vis. Et essent evertitur sea, vis cu ubique referrentur, sed eu dicant expetendis.</p>
        <div class='column-clients' >
                <div class='column'  *ngFor="let items of clients">

                  <div class='column-gradient-clients' >
                      <h4 class="column-clients-h4">{{items.name}}</h4>
                      <h5 class="column-clients-h5"> {{items.title}}</h5>
                    <p class="column-clients-p">{{items.text}}</p>

                  </div>
                </div>
<!--
          <div class='column'>-->

            <!--                  <div class='column-gradient-clients'>-->
            <!--                        <h4 class="column-clients-h4">Anya Stoen</h4>-->
            <!--                        <h5 class="column-clients-h5"> Graphic Designer</h5>-->
            <!--                      <p class="column-clients-p">“Eum cu tantas legere complectitur, hinc utamur ea eam. Eum patrioque mnesarchum eu, diam erant convenire et vis. Et essent evertitur sea.”</p>-->
            <!--                  </div>-->
            <!--                </div>-->
            <!--               <div class='column'>-->

            <!--                  <div class='column-gradient-clients'>-->
            <!--                        <h4 class="column-clients-h4">Anya Stoen</h4>-->
            <!--                        <h5 class="column-clients-h5"> Graphic Designer</h5>-->
            <!--                      <p class="column-clients-p">“Eum cu tantas legere complectitur, hinc utamur ea eam. Eum patrioque mnesarchum eu, diam erant convenire et vis. Et essent evertitur sea.”</p>-->

            <!--                  </div>-->
            <!--                </div>-->

              </div>
    </div>
</div>
