 <div class="team">
<div class="container">
    <div class="wrapper-tem">
<h1 class="title-team">Behold the Power of Team.</h1>
<p class="team-p">Eum cu tantas legere complectitur, hinc utamur ea eam. Eum patrioque mnesarchum eu, diam erant convenire et vis. Et essent evertitur sea, vis cu ubique referrentur, sed eu dicant expetendis.</p>
</div>
</div>
<div class='team-page-wrapper'>
        <div class='column-tema'  *ngFor="let items of team">
          <div class='column'>
            <div class='black-column-team'>

            </div>
            <div class='column-gradient-team'>
                <h4 class="column-team-h4">{{ items.name }} </h4>
                <h5 class="column-team-h5"> {{items.title}}</h5>
              <p class="column-team-p">{{items.text}}</p>

            </div>
          </div>
<!--          <div class='column'>-->
<!--            <div class='black-column-team'>-->
<!--            </div>-->
<!--            <div class='column-gradient-team'>-->
<!--                    <h4 class="column-team-h4">John Doe</h4>-->
<!--                    <h5 class="column-team-h5"> Graphic Designer</h5>-->
<!--                  <p class="column-team-p">Eum cu tantas legere complectitur, hinc utamur ea eam. Eum patrioque mnesarchum eu.</p>-->


<!--            </div>-->
<!--          </div>-->
<!--         <div class='column'>-->
<!--            <div class='black-column-team'>-->

<!--            </div>-->
<!--            <div class='column-gradient-team'>-->
<!--                    <h4 class="column-team-h4">John Doe</h4>-->
<!--                    <h5 class="column-team-h5"> Graphic Designer</h5>-->
<!--                  <p class="column-team-p">Eum cu tantas legere complectitur, hinc utamur ea eam. Eum patrioque mnesarchum eu.</p>-->


<!--            </div>-->
<!--          </div>-->
<!--          <div class='column'>-->
<!--                <div class='black-column-team'>-->

<!--                </div>-->
<!--                <div class='column-gradient-team'>-->
<!--                        <h4 class="column-team-h4">John Doe</h4>-->
<!--                        <h5 class="column-team-h5"> Graphic Designer</h5>-->
<!--                      <p class="column-team-p">Eum cu tantas legere complectitur, hinc utamur ea eam. Eum patrioque mnesarchum eu.</p>-->


<!--                </div>-->
<!--              </div>-->




      </div>
</div>
</div>
