.portfolio{
  min-height: 100vh;
  background: linear-gradient(to right, #2e2551, #3d50ae);
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio-wrapper {
  display: flex;
}

.portfolio-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.green-column {
  padding-left: 40px;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.img-portofolio{
max-width: 450px;
  cursor: pointer;
}
.title-portfolio {
  font-size: 20px;
  color: dodgerblue;
  font-weight: 700;
  padding-top: 25px;
  cursor: pointer;
  justify-content: space-around;
  display: flex;
  margin-right: 20px;
}
p.text-portfolio {
  font-weight: 700;
  text-align: center;
}
