.footer{
    text-align: center;
    height: 110px;
    background-color: #233537;
}
p.p-footer {
    font-size: 15px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 500;
    padding-top: 40px;
}
span {
    color: #15a597;
}