<div class="section-icon">
<div class="container">
        <div class='section-icon-wrapper'>
                <div class='section-1'>
                  <div class='column-icon' *ngFor="let item of statisticsArray">
                    <div class='section-icon-column'>
                            <img id="img" src="{{item.src}}" alt="" />
                            <p class="icon-number">{{item.number}}</p>
                            <p class="icon-p">{{item.title}}</p>
                    </div>
                  </div>

                </div>
              </div>
</div>
</div>
