<div class="modern-design">
<div class="container">
        <div class='modern-design-wrapper'>
                <div class='design-modern'>
                  <div class='column-modern-design-wrapper'>
                    <div class='modern-design-column'>
                            <img class="img-phone-modern" src="assets/images/Vector Smart Object.png" alt="" />
                    </div>
                  </div>
                  <div class='column-modern-design-wrapper'>
                    <div class='modern-design-column-1'>
                      <h2 class="modern-title">MODERN DESIGN</h2>
                      <h4 class="modern-h2">Responsive Design</h4>
                      <p class="modern-p">Eum cu tantas legere complectitur, hinc utamur ea eam. Eum patrioque mnesarchum eu, diam erant convenire et vis. Et essent evertitur sea, vis cu ubique referrentur, sed eu dicant expetendis.Eum cu tantas legere complectitur, hinc utamur ea eam.
                            Ynesarchum eu, diam erant convenire et vis. Et essent evertitur sea, vis cu ubique referrentur, sed eu dicant ex</p>
                    </div>
                  </div>
                </div>
              </div>
</div>
</div>