<div class='page-service'>
<!--  <div class="container ">-->
<!--    <div class=' service'>-->

 <!-- <div class="column-wrapper">
        <div class='column' *ngFor="let items of service">
         <div class='column-service'>
          <img id="img" src="assets/images/Composite-Path.gif" alt="" />
          <h3 class="service-h3">{{items.title}}</h3>
       <p class="service-p">{{items.text}}.</p>
         </div>
       </div>-->
<!--        <div class='column'>-->
<!--          <div class='column-service'>-->
<!--            <img id="img" src="assets/images/Composite-Path1.gif" alt="" />-->
<!--            <h3 class="service-h3">GRAPHIC DESIGN</h3>-->
<!--            <p class="service-p">Eum cu tantas legere complectitur, hinc utamur ea eaum cu tantas legere complectitur.Tantas legere complectitur-->
<!--              ustolion mplectitur, hinc utal.</p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class='column'>-->
<!--          <div class='column-service'>-->
<!--            <img id="img" src="assets/images/Composite-Path2.gif" alt="" />-->
<!--            <h3 class="service-h3">PROGRAMMING</h3>-->
<!--            <p class="service-p">Eum cu tantas legere complectitur.Tantas legere complectitur, hinc utamur ea eam-->
<!--              ustolion mplectitur, hinc utal.</p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class='column'>-->
<!--          <div class='column-service'>-->
<!--            <img id="img" src="assets/images/C-_Users_admin_Desktop_Composite-Path3.gif" alt="" />-->
<!--            <h3 class="service-h3">PHOTOGRAPHY</h3>-->
<!--            <p class="service-p" >Eum cu tantas legere complectitur.Tantas legere complectitur, hinc utamur ea eam-->
<!--              ustolion mplectitur, hinc utal</p>-->
<!--          </div>-->
 <!-- <div class='column'>-->
    <!--          <div class='column-service'>-->
    <!--            <img id="img" src="assets/images/C-_Users_admin_Desktop_Composite-Path3.gif" alt="" />-->
    <!--            <h3 class="service-h3">PHOTOGRAPHY</h3>-->
    <!--            <p class="service-p" >Eum cu tantas legere complectitur.Tantas legere complectitur, hinc utamur ea eam-->
    <!--              ustolion mplectitur, hinc utal</p>-->
    <!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="button-service"><button class="service-button">NEED SERVICE?</button>-->
<!--      </div>-->

<!--    </div>-->

<!--  </div>-->
  <router-outlet></router-outlet>
</div>

<!--<router-outlet></router-outlet>-->
