<div class="your-vision">


        <div class="container">
                <div id="carouselContent" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active text-center p-4">
                                <div class="container">
                                        <img class="img-vision" src="assets/images/Icon-4.png" alt="" />
                             <h2 class="title-vison">We realize and actualize your vision</h2>
                             <p class="p-vison"> John Doe CEO</p>
                                </div>
                        </div>
                        <div class="carousel-item text-center p-4">
                               <div class="container">
                                        <img class="img-vision" src="assets/images/Icon-4.png" alt="" />
                             <h2 class="title-vison">We realize and actualize your vision</h2>
                             <p class="p-vison"> John Doe CEO</p>
                                </div> 
                        </div>
                    </div>
                    <div class="button-next-prev">
                    <a class="next-prev" href="#carouselContent" role="button" data-slide="prev">
                        <span  aria-hidden="true"> <img class="img-left" src="assets/images/Left.png" alt="" /></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="next-prev"  href="#carouselContent" role="button" data-slide="next">
                        <span  aria-hidden="true"> <img class="img-right" src="assets/images/Right.png" alt="" /></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                </div>
            </div>

</div>