<div class="design">
        <div class="container">
        <h1 class="design-title">The Design That Likes To Say Yes.</h1>
        <p class="design-p">Eum cu tantas legere complectitur, hinc utamur ea eam. Eum patrioque mnesarchum eu, diam erant convenire et vis. Et essent evertitur sea, vis cu ubique referrentur, sed eu dicant expetendis.</p>
        <div class="img-design">
                <img id="img" class="img-design" src="assets/images/mockups.png" alt="" />

        </div>
    </div>
</div>