<div class='phoneresponsive'>
    <div class="container">
      <div class='wrapper-phoneresponsive'>
          <div class='column-phoneresponsive'>
            <div class='column-res'>
              <div class="img-phone">
                    <img id="img"class=" img-phone-1" src="assets/images/phones.png" alt="" />
              </div>
            </div>
          </div>
          <div class='column-phoneresponsive'>
            <div class='column-res-1'>
              <h3 class="title-responsive">Fully Responsive</h3>
             <div class="p-responsive">
              <p >Eum cu tantas legere complectitur, hinc utamur ea eam. Lorem ipsum dolor sit amet, volumus temporibus definitionem id ius, vel ut magna timeam appareat, movet timeam maiorum an ius.
                   </p>
                   <p class="p-responsive-1">Sea libris dictas lucilius et. Ne cibo urbanitas pri, qui ad populo accusamus. Quod congue ea ius, nisl aperiri sit ut</p>
                   <div class="button-responsive"><button class="responsive-button">ORDER ME ONE</button>
                   </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>